html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    width: 100%;
    height: 100%;
}


#dialog {
    position: absolute;
    top: 10%;
    left: 50%;

    color: #FFF;
    text-align: center;
}


#dialog_body {
    position: relative;
    left: -50%;

    min-width: 30ch;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px;
}


#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
}


[unselectable="on"] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


.text {
    color: #F0F0F0;
}


.title {
    margin: 0;
    padding: 15px;
    border-bottom: 1px #FFF solid;
}


button {
    min-width: 60px;
    height: 34px;
    padding: 0 24px;
    text-align: center;
    background-color: #E4E4E4;
    color: #000;
    cursor: pointer;
    display: inline;
    outline: none;
    border: 1px solid #c3cdb6;
    margin-left: 10px;
}


#profile{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    padding: 1ch 2ch;
    margin: 0;
	
    -webkit-box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.1);
    box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.1);
}


#name {
    color: white;
}


img {
    display: block;
}


#categories_wrapper {
    min-width: 10%;
    padding: 10px;
    position: absolute;

    top: 50%;
    max-height: 20px;
    left: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.65);

    display: none;
}


#categories_wrapper td {
    color: #FFF;
    padding: 8px 15px;
    cursor: pointer;
}


.active_category {
    background-color: #000;
}


#categories_wrapper td:hover {
    background-color: #000;
}


.urgency {
    width: 100%;
    height: 1ch;
    margin-top: 1ch;
}
